<!DOCTYPE html>
<html>

<head>
	<title>Server is maintaining...</title>
</head>

<body>
	<h1>The site is currently down for a maintenance</h1>\
	<img src="http://www.clker.com/cliparts/8/j/c/P/v/w/tools-hi.png"
</body>